$branding-orange: #ffbc29;
$branding-turquoise: #4ecdc4;
$branding-red: #FF6666;
$branding-yellow: #ffe86b;
$branding-green: #c9d41b;
$branding-dark: #363946;
$branding-blue: #00A1FF;
$branding-purple: #000F9B;
$branding-background: #E5E5E5;
$branding-grey: #B7B7B7;

$wait-color: $branding-yellow;
$error-color: $branding-red;
$previous-color: $branding-orange;
$current-color: $branding-turquoise;
$vote-color: $branding-red;
$vote-skip-color: $branding-yellow;
$vote-done-color: $branding-green;
$admin-color: $branding-dark;
$disabled-color: mix($branding-red, white, 25%);
$prioritized-color: mix($branding-green, white, 25%);
$positive-color: $branding-green;
$negative-color: $branding-red;
$neutral-color: $branding-yellow;

$text-color: #000000;
$link-color: mix($branding-turquoise, black, 50%);
$light: #FFFFFF;
$light-grey: #e8e8e8;
$dark: $branding-dark;
$heading-font: "Rubik", sans-serif;
$body-font: "Rubik", sans-serif;
