@import 'constants';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

body {
  color: $text-color;
  background-color: $light;
}

div {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: $heading-font;
  font-weight: bold;
}

h1.page-title {
  font-family: $heading-font;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: $branding-purple;
  font-weight: normal!important;
  left: 24px;
  font-style: normal!important;
  line-height: normal!important;
  font-size: 32px;
}

.large-header {
  padding-top: 120px;
}

p {
  padding-bottom: 0.25rem;
}

.preserve-formatting {
  white-space: pre-wrap;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

input,
textarea {
  font-family: $body-font;
}

input {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

table,
tr,
td,
th {
  border: 0.1rem solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 0 0.25rem;
}

th {
  background: $light-grey;
  font-weight: bold;
  white-space: nowrap;
}

th.sort-header {
  cursor: pointer;
  &::selection {
    background:transparent;
  }
}

table th.sort-header::after {
  content: " ( )";
  visibility: hidden;
  font-family: "Source Code Pro", "Courier New", monospace;
  opacity: 0.5;
}

table th.sort-header:hover::after {
  visibility: visible;
}

table th.sort-up::after {
  content: " (+)";
  visibility: visible;
}

table th.sort-down::after {
  content: " (-)";
  visibility: visible;
}

textarea,
input[type=text] {
  font-weight: normal;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

a.colored {
  color: $link-color;
}

a:hover,
a:focus {
  text-decoration: underline;
}


hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.item-container {

}

.item {
  padding-bottom: 1rem;
}

.info {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.projectInfo {
  padding-left: 1rem;
  padding-right: 1rem;
}

.compact {
  padding: 0 0;
}

.center {
  text-align: center;
}

.banner {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: $light;
  background-color: $dark;
}

.banner-tight {
  @extend .banner;
  margin-bottom: 0;
}

#admin-header {
  background-color: $admin-color;
}

#wait-header {
  background-color: $wait-color;
  color: $dark;
}

#error-header {
  background-color: $error-color;
}

#previous-header {
  background-color: $previous-color;
}

#previous-body {
  background-color: mix($previous-color, white, 25%);
}

#current-header {
  background-color: $current-color;
}

#current-body {
  background-color: mix($current-color, white, 25%);
}

#vote-header {
  background-color: $vote-color;
}

input[type=submit] {
  color: $dark;
  background-color: $dark;
  border: 1px solid $dark;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  height: 3rem;
  -webkit-border-radius: 0; // fix rounded buttons on iOS
  td & {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.button-left {
  float: left;
  width: 48%;
}

.button-right {
  float: right;
  width: 48%;
}

.button-full {
  background-color: $branding-blue;
  color: $light;
  width: 100%;
  border-color: transparent!important;
  font-family: Rubik!important;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  height: 48px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bottom-button {
  bottom: 24px;
}

.button-gap {
  margin-top: 0.75rem;
}

#vote-previous {
  background-color: $previous-color;
}

#vote-current {
  background-color: $current-color;
}

#vote-skip {
  background-color: $vote-skip-color;
  color: $dark;
}

#vote-done {
  background-color: $vote-done-color;
}

input[type=submit].positive {
  background-color: $positive-color;
}

input[type=submit].negative {
  background-color: $negative-color;
}

input[type=submit].neutral {
  background-color: $neutral-color;
  color: $dark;
}

.disabled {
  background-color: $disabled-color;
}

.prioritized {
  background-color: $prioritized-color;
}

.upload-container {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.field {
    padding-right: 1rem;
}

#footer {
  margin-top: 2rem;
  border-top: 1px solid $light-grey;
  p {
    font-size: 0.75rem;
    text-align: center;
  }
}

.welcome-body{
  right: 24px;
  left: 24px;
}

dl.instructions dt {
  content: counter(my-counter);
  counter-increment: my-counter;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 1.5em;
}

dl.instructions dt:last-child {
  content: counter(my-counter);
  counter-increment: my-counter;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}


dl.instructions dt:before {
  left: 0;
  border: 4px solid $branding-purple;
  transform: matrix(0,1,-1,0,0,0);
  position: relative;
  top: 0;
  width: 60px;
  height: 0px;
}

dl.instructions dt:first-child:before {
  top: 6px;
}

dl.instructions dt:last-child:before {
  height: 6px;
}

dl.instructions dt p {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
}

.continue-button {
  color: $light;
  background-color: $branding-grey;
  width: 100%;
  border-color: transparent!important;
  font-family: Rubik!important;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  height: 48px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 16px;
}

.continueCheckboxContainer {
  display: inline-flex;
  align-items: center;

}

.continueCheckboxContainer input[type="checkbox"]{
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -9999px;
}

.continueCheckboxContainer label::before {
  content: "";
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #1EACFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.continueCheckboxContainer label::after {
  content: "";
  display: inline-block;
  height: 32px;
  width: 32px;
  background: url('/static/img/checkmark.svg') no-repeat;
}

.continueCheckboxContainer label {
  position: relative;
  top: -16px;
}

.continueCheckboxContainer label::before,
.continueCheckboxContainer label::after {
  position: absolute;
}

.continueCheckboxContainer label::before {

}

.continueCheckboxContainer label::after {
  left: 7px;
  top: 8px;
}

.continueCheckboxContainer input[type="checkbox"] + label::after {
  content: none;
}

.continueCheckboxContainer input[type="checkbox"]:checked + label::after {
  content: "";
}

.continueCheckboxContainer input[type="checkbox"]:focus + label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.continueLabel::before {
}

.continueText {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 48px;
  font-size: 12px;
  margin-top: 0;
}

.fillBlue::after {
  height: 32px;
  width: 32px;
}

.fillBlue::before {
  background-color: $branding-blue!important;
}

.instructionsAsterisk {
  position: relative;
  font-family: Rubik;
  font-style: italic;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  margin-bottom: 59px;
  color: #5F4BB6;
}

.voteItemTeam {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #B7B7B7;
}

.voteItemTeamContent {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
}

.voteItemTop {
  margin-bottom: 12px;
}

.voteItemTopTitles {
  height: 15px;
}

.voteItemTeamDescription {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}
.left {
  float: left;
}

.right {
  float: right;
}

.projectItem {
  border: 1px solid $branding-grey;
  box-sizing: border-box;
  border-radius: 4px;

}

.enabledProjectItem {
  background: linear-gradient(0deg, rgba(0, 161, 255, 0.1), rgba(0, 161, 255, 0.1)), #FFFFFF;
  border: 2px solid #00A1FF;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px #B7B7B7;
  border-radius: 4px;
}

.projectScreenTitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: $branding-purple;
  padding-top: 24px;
  padding-bottom: 16px;
}

.projectInfoInner {
  padding: 8px;
}

.bottomPanel {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  box-shadow: 0px -2px 8px #B7B7B7;
}

.bottomPanel a{
  float: left;
  display: block;
  text-align: center;
}

.flagButton {
  margin-top: 1rem!important;
  margin-left: 1rem!important;
  background: $branding-red;
  height: 48px!important;
  width: 60px!important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  border: 0;
  background: url('/static/img/flag_button.svg') center center no-repeat;
}

.skipButton {
  margin-top: 1rem;
  margin-left: 1rem;
  background: $branding-dark;
  height: 48px!important;
  width: 60px!important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  padding: 0;
  background: url('/static/img/skip_button.svg') center center no-repeat;
}

.doneButton {
  float: right!important;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background: $branding-blue;
  height: 48px!important;
  width: calc(100% - 60px - 60px - 60px - 12px);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  border: 0;
}

.doneButtonText {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: white;
}


.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6px);
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.modal-content {
  position: fixed;
  bottom: 0;
  background: white;
  box-shadow: 0px -4px 10px #B7B7B7;
  width: 100%;
  overflow: visible!important;
}

.modal-close {
  background-color: white;
  float: left;
  bottom: 0;
  position: relative;
  width: 50%;
  height: 63px;
  text-align: center;
  border:1px solid $branding-grey;
  border-bottom: 0;
  border-left: 0;
  margin-top: 63px;
}

.modal-next {
  background-color: white;
  float: right;
  bottom: 0;
  position: fixed;
  left: 50%;
  width: 50%;
  height: 63px;
  text-align: center;
  border: 1px solid $branding-grey;
  border-bottom:0;
  border-right: 0;
  border-left: 0.5px;
}

.modal-button-text {
  height: 15px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  color: #000F9B;
  margin-top: 24px;
  display: block;
}

.modal-next-button-button {
  width: 100%;
  height: 100%;
}

.modal-content-projects-container {
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
