{% block content %}
  <div class="modal-wrapper" id="edit-project">
    <div class="full-modal">
      <div class="admin-modal-content edit-modal">
        <div class="admin-close-button" onclick="openModal('close')"></div>
        <div>
          <iframe onload="autoResize('itemframe')" height="400px" src="/admin/item/1/" scrolling="no" id="itemframe" sandbox="allow-top-navigation allow-scripts allow-forms"></iframe>
        </div>
      </div>
    </div>
  </div>
  <script>
    function autoResize(id){
      var newheight;
      var newwidth;

      if(document.getElementById){
        newheight=document.getElementById(id).contentWindow.document .body.scrollHeight;
        newwidth=document.getElementById(id).contentWindow.document .body.scrollWidth;
      }

      document.getElementById(id).height= (newheight) + "px";
      document.getElementById(id).width= (newwidth) + "px";
    }

    function openProject(i) {
      const item = currentItems[i];
      const editProject = document.getElementById('itemframe');
      editProject.src = `/admin/item/${item.id}/`;
      openModal('edit-project');
    }
  </script>
{% endblock %}
