<div class="projectInfoInner">
  <div class="voteItemTop">
    <div class="voteItemTopTitles">
      <span class="voteItemTeam left">PROJECT NAME</span>
      <span class="voteItemTeam right">LOCATION</span>
      <br>
    </div>
    <span class="voteItemTeamContent left">{{ item.name | safe }}</span>
    <span class="voteItemTeamContent right">{{ item.location | safe }}</span>
    <br>
  </div>

  <span class="voteItemTeam left">PROJECT DESCRIPTION</span>
  <br>
  <span class="voteItemTeamDescription" style="white-space: pre-wrap; max-width: 100%;">{{ item.description | safe }}</span>
</div>
