{% extends "layout.html" %}
{% block title %}Judge{% endblock %}
{% block content %}
<div class="item">
  <div class="banner" id="admin-header">
    <a href="{{ url_for('admin') }}"><h1>Annotator</h1></a>
  </div>
  <div class="info">
    <table>
      <tr>
        <th>Id</th>
        <td>{{ annotator.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ annotator.name | safe }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ annotator.email | safe }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ annotator.description | safe }}</td>
      </tr>
      <tr>
        <th>Login URL</th>
        <td><a href="{{ login_link }}">{{ login_link }}</a></td>
      </tr>
      <tr>
        <th>Categories</th>
        <td>
          <table>
            <thead>
              <tr>
                <th data-sort-method="number">Id</th>
                <th data-sort-method="caseInsensitiveSort">Name</th>
                <th class="no-sort">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for category in annotator.categories %}
                <tr>
                  <td><a href="{{ url_for('category_detail', category_id=category.category_id) }}" class="colored">{{ category.category_id }}</a></td>
                  <td>
                    {{ category.category.name | safe }}
                  </td>
                  <td class="compact">
                    <form action="/admin/annotator_patch" method="post">
                      <input type="submit" name="action" value="Delete Category" class="neutral">
                      <input type="hidden" name="annotator_id" value="{{ annotator.id }}">
                      <input type="hidden" name="annotator_category_id" value="{{ category.id }}">
                      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>


          <form action="/admin/annotator_patch" method="post">
            <select name="category_id">
              {% for category in categories %}
                <option value="{{ category.id }}">
                  {{ category.id }}.
                  {{ category.name }}
                </option>
              {% endfor %}
            </select>

            <input type="submit" name="action" value="Add Category" class="neutral">
            <input type="hidden" name="annotator_id" value="{{ annotator.id }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
