{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
  <div class="admin-container">
    <div class="banner-branded">Gavel Admin Dashboard<span style="cursor: pointer;" onclick="toggleAutoRefresh()" class="live-active" id="live"> Live</span>
      <div class="admin-toggle float-right">
        <button class="normal-white-18 noborder {{ 'admin-judging-active' if setting_closed else 'admin-judging-inactive' }}"
                onclick="{{ "document.getElementById('admin-judge-setting-form').submit()" if setting_closed else "openModal('stop-session')"}}">
          {{ 'Stop Session' if not setting_closed else 'Start Session' }}
        </button>
        <form id="admin-judge-setting-form" action="/admin/setting" method="post">
            <input type="hidden" name="action" value="{{ 'Open' if setting_closed else 'Close' }}">
            <input type="hidden" name="key" value="closed">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        </div>
    </div>
    <div class="admin-data-bar">
      <div class="admin-data">
        <span>TOTAL VOTES</span>
        <div class="admin-data-text" id="total-votes">{{ votes }}</div>
      </div>
      <div class="admin-data">
        <span>TOTAL PROJECTS</span>
        <div class="admin-data-text" id="total-active">{{ item_count }}</div>
      </div>
      <div class="admin-data">
        <span>AVG. SIGMA SQUARED</span>
        <div class="admin-data-text" id="average-sigma"></div>
      </div>
      <div class="admin-data">
        <span>AVG. SEEN</span>
        <div class="admin-data-text" id="average-seen"></div>
      </div>
    </div>
    <div class="admin-options row">
      <div class="admin-switcher" id="switcher" onclick="toggleSelector()">
        <span id="admin-switcher-content">Manage Reports</span>
        <a class="admin-drop-single-chevron center"></a>
        <div class="admin-switcher-modal" id="selector">
          <div class="full" onclick="showTab('reports')"><h3 class="admin-switcher-modal-text">Manage Reports</h3>
          </div>
          <div class="full" onclick="showTab('projects')"><h3 class="admin-switcher-modal-text">Manage Projects</h3>
          </div>
          <div class="full" onclick="showTab('judges')"><h3 class="admin-switcher-modal-text">Manage Judges</h3></div>
        </div>
      </div>
      <div class="admin-add-button" id="add">
        <span class="normal-caps-purple-14" id="add-text"></span>
      </div>
      <div class="admin-batch-button float-right" id="batchPanel">
        <div class="normal-caps-14 inline pointer" id="" style="margin-right: 24px;" onclick="openModal('disable-entries')"><span class="disabledeye"></span><span>BATCH DISABLE</span></div>
        <div class="normal-caps-red-14 inline pointer" id="" onclick="openModal('delete-entries')"><span class="trashcan"></span>BATCH DELETE</div>
      </div>
    </div>
    <div class="admin-tabs live-table">
      <div id="admin-reports" class="admin-table live-table">
        <table id="reports">
          <thead class="admin-header">
          <tr>
            <th class="admin-head-check no-sort">
              <label>
                <input onclick="checkAllReports()" id="check-all-reports" type="checkbox" class="admin-check">
              </label>
            </th>
            <th class="admin-head-id">Id<a></a></th>
            <th class="admin-head-judge">Judge Name<a></a></th>
            <th class="admin-head-project">Project Name<a></a></th>
            <th class="admin-head-project">Project Location<a></a></th>
            <th class="admin-head-standard">Reason<a></a></th>
            <th class="no-sort">Disable<a></a></th>
            <th class="no-sort">Status<a></a></th>
          </tr>
          </thead>
          <tbody id="reports-body">
          {# Auto populates with reports #}
          </tbody>
        </table>
      </div>
      <div id="admin-projects" class="admin-table live-table">
        <table id="projects">
          <thead class="admin-header">
          <tr>
            <th class="no-sort admin-head-check">
              <label>
                <input onclick="checkAllProjects()" id="check-all-projects" type="checkbox" class="admin-check">
              </label>
            </th>
            <th class="admin-head-id">Id<a></a></th>
            <th class="admin-head-project">Project Name<a></a></th>
            <th class="admin-head-standard">Location<a></a></th>
            <th class="admin-head-double">Description<a></a></th>
            <th class="sort-default admin-head-standard">Mu<a></a></th>
            <th class="admin-head-standard">Sigma<sup>2</sup><a></a></th>
            <th class="admin-head-standard">Votes<a></a></th>
            <th class="admin-head-standard">Seen<a></a></th>
            <th class="admin-head-standard">Skipped<a></a></th>
            <th class="admin-head-standard no-sort">Prioritize<a></a></th>
            <th class="admin-head-standard no-sort">Active<a></a></th>
            <th class="no-sort admin-head-standard">Delete<a></a></th>
          </tr>
          </thead>
          <tbody id="items-body">
          {# Auto populates with projects #}
          </tbody>
        </table>
      </div>
      <div id="admin-judges" class="admin-table live-table">
        <table id="judges">
          <thead class="admin-header">
          <tr>
            <th class="no-sort admin-head-check">
              <label>
                <input onclick="checkAllJudges()" id="check-all-judges" type="checkbox" class="admin-check">
              </label>
            </th>
            <th class="sort-default admin-head-id">Id<a></a></th>
            <th>Name<a></a></th>
            <th>Email<a></a></th>
            <th>Description<a></a></th>
            <th>Votes<a></a></th>
            <th>Next (Id)<a></a></th>
            <th>Prev. (Id)<a></a></th>
            <th>Updated<a></a></th>
            <th class="no-sort">Email<a></a></th>
            <th class="no-sort">Active<a></a></th>
            <th class="no-sort">Delete<a></a></th>
          </tr>
          </thead>
          <tbody id="judges-body">
          {#Auto populates with judges#}
          </tbody>
        </table>
      </div>
    </div>

    {% include './admin_components/add_projects_modal.html' %}

    {% include './admin_components/add_judges_modal.html' %}

    {% include './admin_components/delete_entries_modal.html' %}

    {% include './admin_components/disable_entries_modal.html' %}

    {% include './admin_components/stop_session_modal.html' %}

    {% include './admin_components/edit_judge_modal.html' %}

    {% include './admin_components/edit_project_modal.html' %}

  </div>
{% endblock %}
{% block end %}
  <script src="{{ url_for('static', filename='js/vendor/tablesort.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/tablesort.number.js') }}"></script>
  <script src="{{ url_for('static', filename="js/admin_live.js") }}"></script>
  <script src="{{ url_for('static', filename="js/jquery-3.3.1.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/jquery.tablesorter.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/jquery.tablesorter.widgets.js") }}"></script>
  <script>
    let initial_response = refresh("{{ csrf_token() }}");
    {#    let checkbox = document.getElementById('fs');
        let c = "{{ setting_closed }}";
        c === "True" ? checkbox.checked = false : checkbox.checked = true;#}
    $('#judges').tablesorter({
      cssAsc: 'up',
      cssDesc: 'down',
      headers: {
        '.no-sort': {
          sorter: false,
        }
      }
    });
    $('#reports').tablesorter({
      cssAsc: 'up',
      cssDesc: 'down',
      headers: {
        '.no-sort': {
          sorter: false,
        }
      }
    });
    $('#projects').tablesorter({
      cssAsc: 'up',
      cssDesc: 'down',
      headers: {
        '.no-sort': {
          sorter: false,
        }
      }
    });

    $('.admin-check').click(function(e){
      localStorage.e.target.id = !!e.target.checked;
    })

  </script>
  <script>
    showTab(localStorage.getItem("currentTab"));

  </script>

{% endblock %}
