{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<div class="item">
  <div class="banner" id="admin-header">
    <h1>Admin</h1>
  </div>
</div>

<div class="item">
  <div class="banner">
    <h2>Stats</h2>
  </div>
  <div class="info">
    <p><strong>Votes: </strong>{{ votes }}</p>
  </div>
</div>

<div class="item">
  <div class="banner">
    <h2>Projects</h2>
  </div>
  <div class="info">
    <table id="items">
      <thead>
        <tr>
          <th data-sort-method="number">Id</th>
          <th data-sort-method="caseInsensitiveSort">Name</th>
          <th data-sort-method="caseInsensitiveSort">Location</th>
          <th data-sort-method="caseInsensitiveSort">Description</th>
          <th class="sort-default" data-sort-method="number" data-sort-order="desc">Mu</th>
          <th data-sort-method="number">Sigma Squared</th>
          <th data-sort-method="number">Votes</th>
          <th data-sort-method="number">Seen</th>
          <th data-sort-method="number" data-sort-order="desc">Skipped</th>
          <th data-sort-method="caseInsensitiveSort" data-sort-order="desc">Prioritize</th>
          <th data-sort-method="caseInsensitiveSort">Active</th>
          <th class="no-sort">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr class="{{ 'disabled' if not item.active else 'prioritized' if item.prioritized else '' }}">
          <td><a href="{{ url_for('item_detail', item_id=item.id) }}" class="colored">{{ item.id }}</a></td>
          <td>{{ item.name }}</td>
          <td>{{ item.location }}</td>
          <td class="preserve-formatting">{{ item.description }}</td>
          <td>{{ item.mu | round(4) }}</td>
          <td>{{ item.sigma_sq | round(4) }}</td>
          <td>{{ item_counts.get(item.id, 0) }}</td>
          <td>{{ item.viewed | length }}</td>
          <td>{{ skipped.get(item.id, 0) }}</td>
          <td class="compact" data-sort="{{ item.prioritized }}">
            <form action="{{ url_for('item') }}" method="post">
              <input type="submit" name="action" value="{{ 'Prioritize' if not item.prioritized else 'Cancel' }}" class="{{ 'positive' if not item.prioritized else 'negative' }}">
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </td>
          <td class="compact" data-sort="{{ item.active }}">
            <form action="{{ url_for('item') }}" method="post">
              <input type="submit" name="action" value="{{ 'Disable' if item.active else 'Enable' }}" class="{{ 'negative' if item.active else 'positive' }}">
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </td>
          <td class="compact">
            <form action="{{ url_for('item') }}" method="post">
              <input type="submit" name="action" value="Delete" class="negative">
              <input type="hidden" name="item_id" value="{{ item.id }}">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="api-link">
    <a href="{{ url_for('item_dump') }}">Download CSV</a>
  </div>
</div>

<div class="item">
  <div class="banner">
    <h2>Judges</h2>
  </div>
  <div class="info">
    <table id="annotators">
      <thead>
        <tr>
          <th class="sort-default" data-sort-method="number">Id</th>
          <th data-sort-method="caseInsensitiveSort">Name</th>
          <th data-sort-method="caseInsensitiveSort">Email</th>
          <th data-sort-method="caseInsensitiveSort">Description</th>
          <th data-sort-method="number">Votes</th>
          <th data-sort-method="number">Next (Id)</th>
          <th data-sort-method="number">Previous (Id)</th>
          <th data-sort-method="number" data-sort-order="desc">Updated</th>
          <th class="no-sort">Email</th>
          <th data-sort-method="caseInsensitiveSort">Active</th>
          <th class="no-sort">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for annotator in annotators %}
        <tr class="{{ 'disabled' if not annotator.active else '' }}">
          <td><a href="{{ url_for('annotator_detail', annotator_id=annotator.id) }}" class="colored">{{ annotator.id }}</a></td>
          <td>{{ annotator.name }}</td>
          <td>{{ annotator.email }}</td>
          <td>{{ annotator.description }}</td>
          <td>{{ counts.get(annotator.id, 0) }}</td>
          <td data-sort="{{ annotator.next_id or -1 }}">{{ annotator.next_id }}</td>
          <td data-sort="{{ annotator.prev_id or -1 }}">{{ annotator.prev_id }}</td>
          <td data-sort="{{ annotator.updated | utcdatetime_epoch }}">{{ annotator.updated | utcdatetime_local }}</td>
          <td class="compact">
            <form action="{{ url_for('annotator') }}" method="post">
              <input type="submit" name="action" value="Email" class="neutral">
              <input type="hidden" name="annotator_id" value="{{ annotator.id }}">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </td>
          <td class="compact" data-sort="{{ annotator.active }}">
            <form action="{{ url_for('annotator') }}" method="post">
              <input type="submit" name="action" value="{{ 'Disable' if annotator.active else 'Enable' }}" class="{{ 'negative' if annotator.active else 'positive' }}">
              <input type="hidden" name="annotator_id" value="{{ annotator.id }}">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </td>
          <td class="compact">
            <form action="{{ url_for('annotator') }}" method="post">
              <input type="submit" name="action" value="Delete" class="negative">
              <input type="hidden" name="annotator_id" value="{{ annotator.id }}">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="api-link">
    <a href="{{ url_for('annotator_dump') }}">Download CSV</a>
  </div>
</div>

<div class="item">
  <div class="banner">
    <h2>Add Projects</h2>
  </div>
  <div class="info">
    <p>Add name, location, description (CSV format)</p>
    <textarea name="data" form="item_form"></textarea>
    <form action="{{ url_for('item') }}" method="post" id="item_form" enctype="multipart/form-data">
      <div class="upload-container">
        <span class="field">Or upload a file here:</span>
        <input type="file" name="file" accept=".csv,.xls,.xlsx">
      </div>
      <input type="submit" name="action" value="Submit" class="button-full positive">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>
<div class="item">
  <div class="banner">
    <h2>Add Judges</h2>
  </div>
  <div class="info">
    <p>Add name, email, description (CSV format)</p>
    <textarea name="data" form="annotator_form"></textarea>
    <form action="{{ url_for('annotator') }}" method="post" id="annotator_form" enctype="multipart/form-data">
      <div class="upload-container">
        <span class="field">Or upload a file here:</span>
        <input type="file" name="file" accept=".csv,.xls,.xlsx">
      </div>
      <input type="submit" name="action" value="Submit" class="button-full positive">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>

<div class="item">
  <div class="banner">
    <h2>Global Settings</h2>
  </div>
  <div class="info">
    <table class="header-row">
      <thead>
        <tr>
          <th>Setting</th>
          <th>Value</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{ 'disabled' if setting_closed else '' }}">
          <td>Closed</td>
          <td>{{ 'Closed' if setting_closed else 'Open' }}</td>
          <td class="compact">
            <form action="{{ url_for('setting') }}" method="post">
              <input type="submit" name="action" value="{{ 'Open' if setting_closed else 'Close' }}" class="{{ 'positive' if setting_closed else 'negative' }}">
              <input type="hidden" name="key" value="closed">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block end %}
<script src="{{ url_for('static', filename='js/vendor/tablesort.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/tablesort.number.js') }}"></script>
<script>
var tables = [
  document.getElementById('items'),
  document.getElementById('annotators'),
];
for (var i = 0; i < tables.length; i++) {
  new Tablesort(tables[i]);
}
</script>
{% endblock %}
