{% extends "layout.html" %}
{% block title %}Judge{% endblock %}
{% block content %}
  <div class="item" >
    <div class="info" style="padding: 0;">
    <base target="_self"/>
      <style>
        th {
          text-align: left;
        }
        p {
          line-height: 0;
          margin: 0;
        }
      </style>
      <h4 class="normal-20" id="title">Judge ID: <span id="id">{{ annotator.id }}</span></h4>
      <p class="normal-14"><span class="bold-14">Name: </span><span id="name">{{ annotator.name | safe }}</span></p>
      <p class="normal-14"><span class="bold-14">Email: </span><span id="email">{{ annotator.email | safe }}</span></p>
      <p class="normal-14"><span class="bold-14">Description: </span><span
        id="description">{{ annotator.description | safe }}</span></p>
      <p class="normal-14"><span class="bold-14">Login URL: </span><span id="login"><a
        href="{{ login_link }}" target="_parent" class="normal-purple-14" style="overflow: hidden;">LOGIN ID:{{ annotator.id }}</a></span></p>
      <p class="normal-14"><span class="bold-14">Total Votes: </span>
        <span id="votes">
            {{ seen | length }}
      </span>
      </p>
      <p class="normal-14"><span class="bold-14">Current Team: </span><span id="team">
      {% if annotator.next %}
        <span>{{ annotator.next_id }}</span>
      {% else %}
        <td>None</td>
      {% endif %}
    </span></p>
      <p class="normal-14"><span class="bold-14">Previous Team: </span><span id="previous">
      {% if annotator.prev %}
        <span>{{ annotator.prev_id }}</span>
      {% else %}
        <td>None</td>
      {% endif %}
    </span></p>
      <p class="normal-14"><span class="bold-14">Updated: </span><span id="updated">
      {{ annotator.updated | safe }}
    </span></p>
      <p class="normal-14"><span class="bold-14">Avg Pace: </span><span id="pace">
      TBI
    </span></p>
      <p class="normal-14"><span class="bold-14">Alpha: </span><span id="alpha">
      {{ annotator.alpha | safe }}
    </span></p>
      <p class="normal-14"><span class="bold-14">Beta: </span><span id="beta">
      {{ annotator.beta | safe }}
    </span></p>
      <p class="normal-14"><span class="bold-14">Seen Teams: </span><span id="seen">
      {% for item in seen %}
        <span>{{ item.id }},</span>
      {% endfor %}
    </span></p>
      <p class="normal-14"><span class="bold-14">Skipped Teams: </span><span id="skipped">
      {% for item in skipped %}
        <span>{{ item.id }},</span>
      {% endfor %}
    </span></p>
    </div>
  </div>
{% endblock %}
