{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
  <div class="admin-container">
    <div class="banner-branded">Gavel Admin Dashboard</div>
    <div class="admin-data-bar">
      <div class="admin-data">
        <span>JUDGING SESSION STATUS</span>
        <div class="admin-toggle">
          <form id="admin-judge-setting-form" action="/admin/setting" method="post"
                class="{{ 'admin-judging-active' if not setting_closed else 'admin-judging-inactive' }}"
                onclick="document.getElementById('admin-judge-setting-form').submit()">
            <input type="hidden" name="action" value="{{ 'Open' if setting_closed else 'Close' }}">
            <input type="hidden" name="key" value="closed">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        </div>
      </div>
      <div class="admin-data">
        <span>TOTAL VOTES</span>
        <div class="admin-data-text" id="total-votes">{{ votes }}</div>
      </div>
      <div class="admin-data">
        <span>TOTAL PROJECTS</span>
        <div class="admin-data-text" id="total-active">{{ item_count }}</div>
      </div>
      <div class="admin-data">
        <span>AVG. SIGMA SQUARED</span>
        <div class="admin-data-text" id="average-sigma"></div>
      </div>
      <div class="admin-data">
        <span>AVG. SEEN</span>
        <div class="admin-data-text" id="average-seen"></div>
      </div>
    </div>
    <div class="admin-options row">
      <div class="admin-switcher" id="switcher" onclick="toggleSelector()">
        <span id="admin-switcher-content">Manage Reports</span>
        <a class="admin-drop-single-chevron center"></a>
        <div class="admin-switcher-modal" id="selector">
          <div class="full" onclick="showTab('reports')"><h3 class="admin-switcher-modal-text">Manage Reports</h3>
          </div>
          <div class="full" onclick="showTab('projects')"><h3 class="admin-switcher-modal-text">Manage Projects</h3>
          </div>
          <div class="full" onclick="showTab('judges')"><h3 class="admin-switcher-modal-text">Manage Judges</h3></div>
        </div>
      </div>
      <div class="admin-add-button" id="add">
        <span class="normal-caps-purple-14" id="add-text"></span>
      </div>
    </div>
    <div class="admin-tabs live-table">
      <div id="admin-reports" class="admin-table live-table">
        <table id="reports">
          <thead class="admin-header">
          <tr>
            <th class="admin-head-check no-sort"><span class="admin-check" id="check-all-reports"></span></th>
            <th class="admin-head-id">Id<a></a></th>
            <th class="admin-head-judge">Judge Name<a></a></th>
            <th class="admin-head-project">Project Name<a></a></th>
            <th class="admin-head-project">Project Location<a></a></th>
            <th class="admin-head-standard">Reason<a></a></th>
            <th class="no-sort">Disable<a></a></th>
            <th class="no-sort">Status<a></a></th>
          </tr>
          </thead>
          <tbody id="reports-body">
          {# Auto populates with reports #}
          </tbody>
        </table>
      </div>
      <div id="admin-projects" class="admin-table live-table">
        <table id="projects">
          <thead class="admin-header">
          <tr>
            <th class="no-sort admin-head-check"><span class="admin-check" id="check-all-projects"></span></th>
            <th class="admin-head-id">Id<a></a></th>
            <th class="admin-head-project">Project Name<a></a></th>
            <th class="admin-head-standard">Location<a></a></th>
            <th class="admin-head-double">Description<a></a></th>
            <th class="sort-default admin-head-standard">Mu<a></a></th>
            <th class="admin-head-standard">Sigma<sup>2</sup><a></a></th>
            <th class="admin-head-standard">Votes<a></a></th>
            <th class="admin-head-standard">Seen<a></a></th>
            <th class="admin-head-standard">Skipped<a></a></th>
            <th class="admin-head-standard no-sort">Prioritize<a></a></th>
            <th class="admin-head-standard no-sort">Active<a></a></th>
            <th class="no-sort admin-head-standard">Delete<a></a></th>
          </tr>
          </thead>
          <tbody id="items-body">
          {# Auto populates with projects #}
          </tbody>
        </table>
      </div>
      <div id="admin-judges" class="admin-table live-table">
        <table id="judges">
          <thead class="admin-header">
          <tr>
            <th class="no-sort admin-head-check"><span class="admin-check" id="check-all-judges"></span></th>
            <th class="sort-default admin-head-id">Id<a></a></th>
            <th>Name<a></a></th>
            <th>Email<a></a></th>
            <th>Description<a></a></th>
            <th>Votes<a></a></th>
            <th>Next (Id)<a></a></th>
            <th>Previous (Id)<a></a></th>
            <th>Updated<a></a></th>
            <th class="no-sort">Email<a></a></th>
            <th class="no-sort">Active<a></a></th>
            <th class="no-sort">Delete<a></a></th>
          </tr>
          </thead>
          <tbody id="judges-body">
          {#Auto populates with judges#}
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-wrapper" id="add-projects">
      <div class="full-modal">
        <div class="admin-modal-content add-modal">
          <div class="admin-close-button" onclick="openModal(null)"></div>
          <h4 class="normal-20">Add Projects</h4>
        </div>
      </div>
    </div>

    <div class="modal-wrapper" id="add-judges">
      <div class="full-modal">
        <div class="admin-modal-content add-modal">
          <div class="admin-close-button" onclick="openModal(null)"></div>
          <h4 class="normal-20">Add Judges</h4>
          <p class="normal-12">CSV Format: Judge Name, Email, Description</p>
        </div>
      </div>
    </div>

    <div class="modal-wrapper" id="delete-entries">
      <div class="full-modal batch-modal">
        <div class="admin-modal-content">

        </div>
      </div>
    </div>

    <div class="modal-wrapper" id="stop-session">
      <div class="full-modal stop-modal">
        <div class="admin-modal-content">

        </div>
      </div>
    </div>

    <div class="modal-wrapper" id="edit-judge">
      <div class="full-modal edit-modal">
        <div class="admin-modal-content">

        </div>
      </div>
    </div>

    <div class="modal-wrapper" id="edit-project">
      <div class="full-modal edit-modal">
        <div class="admin-modal-content">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block end %}
  <script src="{{ url_for('static', filename='js/vendor/tablesort.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/tablesort.number.js') }}"></script>
  <script src="{{ url_for('static', filename="js/admin_live.js") }}"></script>
  <script src="{{ url_for('static', filename="js/jquery-3.3.1.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/jquery.tablesorter.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/jquery.tablesorter.widgets.js") }}"></script>
  <script>
    let initial_response = refresh("{{ csrf_token() }}");
    window.setInterval(function () {
      let response = refresh("{{ csrf_token() }}");
    }, 5000);
  </script>
  <script>
    {#    let checkbox = document.getElementById('fs');
        let c = "{{ setting_closed }}";
        c === "True" ? checkbox.checked = false : checkbox.checked = true;#}
    $('#judges').tablesorter({
      cssAsc: 'up',
      cssDesc: 'down',
      headers: {
        '.no-sort': {
          sorter: false,
        }
      }
    });
    $('#reports').tablesorter({
      cssAsc: 'up',
      cssDesc: 'down',
      headers: {
        '.no-sort': {
          sorter: false,
        }
      }
    });
    $('#projects').tablesorter({
      cssAsc: 'up',
      cssDesc: 'down',
      headers: {
        '.no-sort': {
          sorter: false,
        }
      }
    });

  </script>
  <script>
    showTab(localStorage.getItem("currentTab"));

    function toggleSelector() {
      const selectorModal = document.getElementById("selector");
      selectorModal.style.display = selectorModal.style.display === "block" ? "none" : "block";
    }

    function showTab(e) {
      const judges = document.getElementById("admin-judges");
      const projects = document.getElementById("admin-projects");
      const reports = document.getElementById("admin-reports");
      const content = document.getElementById("admin-switcher-content");
      judges.style.display = "none";
      projects.style.display = "none";
      reports.style.display = "none";
      content.innerText = "none";
      localStorage.setItem("currentTab", e);
      switch (localStorage.getItem("currentTab")) {
        case "judges":
          judges.style.display = "block";
          content.innerText = "Manage Judges";
          break;
        case "projects":
          projects.style.display = "block";
          content.innerText = "Manage Projects";
          break;
        case "reports":
          reports.style.display = "block";
          content.innerText = "Manage Reports";
          break;
        default:
          reports.style.display = "block";
          content.innerText = "Manage Reports";
          break;
      }
      setAddButtonState();
    }
    window.addEventListener("DOMContentLoaded", function () {
      showTab(localStorage.getItem("currentTab") || "admin-reports");
    });
    function setAddButtonState() {
      const judges = document.getElementById("admin-judges").style.display === "block";
      const projects = document.getElementById("admin-projects").style.display === "block";
      const reports = document.getElementById("admin-reports").style.display === "block";
      const text = document.getElementById('add-text');
      const add = document.getElementById('add');
      console.log(judges,projects,reports,text);
      if(!!judges){
        text.innerText = "+ Add Judges";
        text.onclick=function() {openModal('add-judges')};
        //text.addEventListener('onclick', openModal('add-judges'));
      }
      if(!!projects){
        text.innerText = "+ Add Projects";
        text.onclick=function() {openModal('add-projects')};
        //text.addEventListener('onclick', openModal('add-projects'));
      }
      if(!!reports){
        text.innerText = "";
        text.onclick=null;
      }
    }

    function openModal (modal) {
      const addJudges = document.getElementById('add-judges');
      const addProjects = document.getElementById('add-projects');
      const deleteEntries = document.getElementById('delete-entries');
      const stopSession = document.getElementById('stop-session');
      const editJudge = document.getElementById('edit-judge');
      const editProject = document.getElementById('edit-project');

      const modals = [addJudges,addProjects,deleteEntries,stopSession,editJudge,editProject];
      modals.forEach((e) => {
        e.style.display = 'none';
      });
      var dumdum;
      modal ? document.getElementById(modal).style.display = 'block' : dumdum = 'dum';
    }
  </script>

{% endblock %}
