{% extends "layout.html" %}
{% block title %}Project{% endblock %}
{% block content %}
<div class="item">
  <div class="banner" id="admin-header">
    <a href="{{ url_for('admin') }}"><h1>Project</h1></a>
  </div>
  <div class="info">
    <table>
      <tr>
        <th>Id</th>
        <td>{{ item.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>
          <form action="{{ url_for('item_patch') }}" method="post">
            <input type="text" name="name" value="{{ item.name }}">
            <input type="submit" name="action" value="Update" class="neutral">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        </td>
      </tr>
      <tr>
        <th>Location</th>
        <td>
          <form action="{{ url_for('item_patch') }}" method="post">
            <input type="text" name="location" value="{{ item.location }}">
            <input type="submit" name="action" value="Update" class="neutral">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <td>
          <textarea name="description" form="description_form">{{ item.description }}</textarea>
          <form action="{{ url_for('item_patch') }}" method="post" id="description_form">
            <input type="submit" name="action" value="Update" class="neutral">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          </form>
        </td>
      </tr>
      <tr>
        <th>Mu</th>
        <td>{{ item.mu }}</td>
      </tr>
      <tr>
        <th>Sigma Squared</th>
        <td>{{ item.sigma_sq }}</td>
      </tr>
      <tr>
        <th>Seen By</th>
        <td>
          <ul>
            {% for annotator in item.viewed %}
            <li><a href="{{ url_for('annotator_detail', annotator_id=annotator.id) }}" class="colored">{{ annotator.name }} [{{ annotator.id }}]</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>Assigned To</th>
        <td>
          <ul>
            {% for annotator in assigned %}
            <li><a href="{{ url_for('annotator_detail', annotator_id=annotator.id) }}" class="colored">{{ annotator.name }} [{{ annotator.id }}]</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <th>Skipped By</th>
        <td>
          <ul>
            {% for annotator in skipped %}
            <li><a href="{{ url_for('annotator_detail', annotator_id=annotator.id) }}" class="colored">{{ annotator.name }} [{{ annotator.id }}]</a></li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
