{% extends "layout.html" %}
{% block title %}Start{% endblock %}
{% block content %}
<div class="item">
  <div class="banner-tight">
    <h1>Start</h1>
  </div>
  {% with item=item %}
  {% include "_item.html" %}
  {% endwith %}
</div>

<div class="item">
  <div class="info">
    <form action="/begin" method="post">
      <input type="submit" name="action" value="Skip" id="vote-skip" class="button-full">
      <input type="submit" name="action" value="Done" id="vote-done" class="button-full button-gap">
      <input type="hidden" name="item_id" value="{{ item.id }}">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>
{% endblock %}
