{% extends "layout.html" %}
{% block title %}Vote{% endblock %}
{% block content %}
  <style type="text/css">
    table {
      border: 0;
    }
    tr {
      border: 0;
    }
    td {
      border: 0;
    }
  </style>
  <div class="item" style="padding-bottom: 80px;">
    <div class="projectInfo">
      <h2 class="projectScreenTitle">Evaluate the following project.</h2>
      <p class="voteItemTeam" style="color: black; padding-bottom: 8px;">CURRENT PROJECT</p>
      <div class="item projectItem" style="box-shadow: none; border: 1px solid #000F9B;">
        {% with item=next %}
          {% include "_item.html" %}
        {% endwith %}
      </div>

      <p class="voteItemTeam" style="color: black; padding-bottom: 8px; padding-top: 24px;">LAST PROJECT YOU VISITED</p>
      <div class="item">
        <div class="item projectItem" style="box-shadow: none;">
          {% with item=prev %}
            {% include "_item.html" %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
  {#  <div class="item">
    <div class="banner" id="vote-header">
      <h1>Vote</h1>
    </div>
    <div class="info">
      <form action="/vote" method="post">
        <p class="center">Which one is better?</p>
        <input type="submit" name="action" value="Previous" id="vote-previous" class="button-left">
        <input type="submit" name="action" value="Current" id="vote-current" class="button-right">
        <input type="submit" name="action" value="Skip" id="vote-skip" class="button-full button-gap">
        <input type="hidden" name="prev_id" value="{{ prev.id }}">
        <input type="hidden" name="next_id" value="{{ next.id }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      </form>
    </div>
  </div>#}
  <div class="bottomPanel">
    <button class="flagButton" type="button" id="reportbutton" onclick="toggleReport()"></button>
    <button class="skipButton" type="button" id="skipButton" onclick="toggleSkip()"></button>
    <button class="doneButton doneButtonText" type="button" id="doneButton" onclick="toggleModal()">Done With Visit</button>
  </div>

  {% with prev=prev, next=next %}
    {% include './vote_components/report_modal.html' %}
  {% endwith %}

  {% with prev=prev, next=next, action="/vote" %}
    {% include "./vote_components/skip_modal.html" %}
  {% endwith %}

  {% with prev=prev, next=next %}
    {% include "./vote_components/vote_modal.html" %}
  {% endwith %}

{% endblock %}
