{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="item">
  <div class="info">
    <div class="large-header">
      <h1 class="page-title">Welcome to Gavel.</h1>
    </div>
    <div class="welcome-body">
      <p>
        Gavel is an expo judging platform that continuously compares each project you visit against the last project you visited.
        Easy, right? By looking at your comparison patterns as well as those of the other judges,
        Gavel will determine relative rankings for all of the participating projects.
      </p>

      <p>
        Gavel is just a tool. It does not take into consideration any specific judging criteria or the possible weighting of
        such criteria in the evaluation of projects.
      </p>

      <p>
        Please consult your event's judging coordinator or equivalent staff member if you are unclear on how to use Gavel
        or have any questions regarding judging criteria set by the event staff.
      </p>
    </div>
  </div>
</div>

<div class="item">
  <div class="info bottom-button">
    <form action="/welcome/instructions" method="get">
      <button type="submit" class="button-full"> Continue </button>
    </form>
  </div>
</div>
{% endblock %}
