{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="item">
  <div class="banner">
    <h1>Welcome</h1>
  </div>
  <div class="info">
    {{ content }}
  </div>
</div>

<div class="item">
  <div class="info">
    <form action="{{ url_for('welcome_done') }}" method="post">
      <input type="submit" name="action" value="Continue" class="button-full button-gap positive">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
  </div>
</div>
{% endblock %}
